*,
*::after,
*::before{
  box-sizing: border-box;
  font-size: 100%;
  margin:0;
  padding: 0;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

body{
  background: #000000;
  color: #F7F7F7;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 4vh;
  background: transparent;
}

.navbar h1{
  animation: type 6s steps(10);
  font-family: monospace;
  overflow: hidden;
  word-wrap: nowrap;
  border-right: 1px solid #fff;
  font-size: 2rem;
  text-shadow: 2px 2px 2px #AAABB0;
}

.navbar ul{
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul li{
  list-style-type: none;
  padding: 0.7rem;
  font-family: 'Courier New', Courier, monospace;
}

.coffee{
  background: #F06407;
  color: #000000;
  font-weight: 800;
  padding: 1rem 0.5rem;
  border-radius: 15px;
  border-bottom: 0;
  transition: all 1s ease;
  cursor: pointer;
}

.coffee:hover{
  background: transparent;
  color: whitesmoke;
  border: 1px solid #F06407;
}

.twitter{
  background: #079DF0;
  color: #000000;
  font-weight: 800;
  padding: 1rem 0.5rem;
  border-radius: 15px;
  border-bottom: 0;
  transition: all 1s ease;
  cursor: pointer;
}

.twitter:hover{
  background: transparent;
  color: whitesmoke;
  border: 1px solid #079DF0;
}

.sub-head{
  width: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 3rem 1rem 1rem 1rem;
  font-family: 'Courier New', Courier, monospace;
}


.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding-top: 2rem;
}

.search input{
  margin: 15px;
  padding: 1rem;
  border: none;
  outline: 0;
  border-radius: 30px;
  width: 50vw;
}

.btn{
  background-color: #0082FF;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1.3rem;
  outline: none;
  color: white;
  transition: all 1s ease;
}

.btn:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 2px #BAE0FF;
  background-color: #0054FF;
}

main{
  display: none;
}

.mood{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  text-align: center;
  padding: 0 4rem;
}

.username{
  font-family: monospace;
  font-size: 2.4rem;
  border-bottom: 1px solid grey;
  padding-bottom: 0.5rem;
}

.user-info{
  text-align: left;
  margin: 2rem;
}

.bio{
  padding-top: 10px;
  font-size: 1.1rem;
  font-family: monospace;
}


.emoji {
  background-color: transparent;
  width: 400px;
  height: 400px;
}

.beg{
  background-color: #000000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem 0;
  color: whitesmoke;
}


.emoji img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* typing animation */
@keyframes type{
  from{
    width: 0ch;
  }
  to{
    width: 10ch;
  }
}


@media (max-width: 700px) {
  .navbar{
    flex-direction: column;
  }
  
  .navbar h1{
    margin-bottom: 20px;
  }
  .navbar ul{
    margin: auto;
  }
  .coffee{
    padding: 0.6rem 1rem;
    font-size: 0.7rem;
  }
  .twitter{
    padding: 0.6rem 1rem;
    font-size: 0.7rem;
  }
  .sub-head{
    font-size: 1rem;
  }
  .search input{
    width: 70%;
  }
  .mood{
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}